<nav class="btn-custom navbar bg-secondary fixed-top nav-pills bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<div style="font-size: 2.5rem;
			font-family: 'Monoton', cursive;
			text-decoration: none;" class="logo">Rand()Tune</div>
		</a>
		<div class="btn-group mr-3">
			<button type="button" class="btn btn-custom" routerLink="/">Home</button>
			<button type="button" class="btn btn-custom" routerLink="/newsong">New Song</button>
			<div class="btn-group btn-custom" ngbDropdown role="group" aria-label="Button group with nested dropdown">
				<button class="btn btn-custom" ngbDropdownToggle>Explore</button>
				<div class="dropdown-menu" ngbDropdownMenu>
					<button class="dropdown-item btn-custom">Musicians</button>
					<button class="dropdown-item btn-custom">Artists</button>
				</div>
			</div>
			<div class="btn-group btn-custom" ngbDropdown role="group" aria-label="Button group with nested dropdown">
				<button class="btn btn-custom" ngbDropdownToggle>Upload</button>
				<div class="dropdown-menu" ngbDropdownMenu>
					<button class="dropdown-item btn-custom">Music</button>
					<button class="dropdown-item btn-custom">Artwork</button>
				</div>
			</div>
		</div>
		<div class="btn-group mr-3">
			<div class="btn-group btn-custom" ngbDropdown role="group" aria-label="Button group with nested dropdown">
				<button class="btn btn-custom" ngbDropdownToggle>Login</button>
				<div class="dropdown-menu-right" ngbDropdownMenu>
					<button class="dropdown-item btn-custom" routerLink="/user">My Profile</button>
					<button class="dropdown-item btn-custom">Settings</button>
					<button class="dropdown-item btn-custom">History</button>
					<button class="dropdown-item btn-custom">Logout</button>
				</div>
			</div>
		</div>
	</div>
</nav>