.user-info {
	padding-top: 60px;
}

body {
  padding-top: 60px;
}

.sidebar {
    padding-top: 60px;
}

@media (min-width: 992px) {
  body {
    padding-top: 60px;
  }
}

.musician-image {
	width: auto;
	height: auto;
	position: relative;
}

.user-profile {
	padding-top: 60px;
}

.row {
	padding-top: 60px;
}

p#song-album {
  display: inline-block;
}

h2#song-name {
  display: inline-block;
}