<!--<div class="container">
<!--<h4 class="panel-heading" style="background-color:#337ab7" >
  <a style="color:white" [routerLink] = "['/review/', index+1]">{{index+1}} - {{review.date}}</a>
</h4>

<div class="panel-body">
<p>{{review.review_content}}</p>
</div>

<table class="table" style="font-size:10pt;">
  <tbody>
    <tr>
      <!--<td>Due: <span>{{list.due}}</span></td>
      <td align="right">Rating: <span class="badge">{{review.rating}}</span></td>
    </tr>
  </tbody>
</table>
<p>Hi!</p>
</div>-->