<div id="welcome" class="container">
	<div class="row justify-content-center">
		<h1>Rand()Tune</h1>
		<h2>Connecting musicians & listeners</h2>
	</div>
	<!-- /.row -->
	
	<div class="row">
		<div class="col justify-content-center">
			<h3>New? Create an Account.</h3>
			<button type="button" class="btn btn-custom">Sign Up</button>
		</div>
		<div class="col justify-content-center">
			<h3>Returning? Welcome back.</h3>
			<button type="button" class="btn btn-custom">Login</button>
		</div>
	</div>
	<!-- /.row -->
</div>
<!-- /.welcome -->
